<?php /** @var $block \Eplane\Search\Block\Result */?>

<div class="search-results-wrapper">
    <div class="col-sidebar noselect" id="search-filters" data-bind="scope: 'searchComponent'">
        <!-- ko template: getFilterTemplate() --><!-- /ko -->
    </div>

    <div class="col-main" id="search-results" data-bind="scope: 'searchComponent'">
        <!-- ko template: getSearchTemplate() --><!-- /ko -->
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#search-results": {
           "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout(); ?>
        }
    }
</script>
