<div class="top-bar">
    <div>
        <strong data-bind="text: totalResults"></strong>
    </div>
    <div class="sort-container noselect">
        <strong class="sort-label">Sort results by:</strong>
        <div class="sort-widget">
            <span class="sort-selected" data-bind="click:toSort.bind()">Best Match</span>
            <div class="sort-options hidden">
                <ul>
                    <li>
                        <span>Price Lowest First</span>
                    </li>
                    <li>
                        <span>Price Highest First</span>
                    </li>
                    <li>
                        <span>Vendors A-Z</span>
                    </li>
                    <li>
                        <span>Vendors Z-A</span>
                    </li>
                    <li>
                        <span>Vendors Rating</span>
                    </li>
                    <li>
                        <span>Lead Time</span>
                    </li>
                    <li class="sort-divider">
                        <span></span>
                    </li>
                    <li>
                        <span>Removal Tag</span>
                    </li>
                    <li>
                        <span>Manufacture Date</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="search-table-wrapper">
    <table data-bind="visible: searchResult().length > 0">
        <thead>
        <tr data-bind="foreach: searchResultHeaders">
            <th class="col-vendor" data-bind="text: vendor"></th>
            <th class="col-rating" data-bind="text: vendorRating"></th>
            <th class="col-condition" data-bind="text: condition"></th>
            <th class="col-tags" data-bind="text: tags"></th>
            <th class="col-lead-time" data-bind="text: leadTime"></th>
            <th class="col-location" data-bind="text: location"></th>
            <th class="col-deal-type" data-bind="text: dealType"></th>
            <th class="col-unit-price" data-bind="text: unitPrice"></th>
            <th class="col-dynamic">
                <div>
                    <div class="ic-col-add" data-bind="click:$parent.toDynamic.bind()">
                        <ul class="dd-menu hidden">
                            <li>
                                <a href="#">Removal Tag</a>
                            </li>
                            <li class="selected">
                                <a href="#">Manufacture Date</a>
                            </li>
                            <li>
                                <a href="#">Clear All</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-name-dyn"></div>
                </div>
            </th>
            <th class="col-action"></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: { data: searchResult, as: 'groups' }">
            <!-- ko if: groups !== undefined -->
              <tr class="row-main">
                  <td colspan="10" class="no-padding">
                    <table>
                        <tbody>
                            <!-- ko if: groups.length == 1 -->
                                <tr class="row-item">
                                    <td class="col-vendor">
                                        <strong data-bind='text: groups[0].seller'></strong>
                                    </td>

                                    <td class="col-rating">
                                        <div class="rating-container"> RATING </div>
                                    </td>

                                    <td class="col-condition" data-bind='text: groups[0].condition.name'>

                                    </td>

                                    <td class="col-tags">
                                        <div class="tags-container">
                                            <div data-bind='foreach: groups[0].tags'>
                                                <div data-bind='text: name'></div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="col-lead-time" data-bind='text: groups[0].lead_time.name'>

                                    </td>

                                    <td class="col-location">
                                        <div class="location-container" data-bind='text: groups[0].location.name'>

                                        </div>
                                    </td>

                                    <td class="col-deal-type" data-bind='text: groups[0].deal_type.value'>

                                    </td>

                                    <td class="col-unit-price">
                                        <strong class="price" data-bind='text: groups[0].formatted_price'>

                                        </strong>
                                    </td>

                                    <td class="col-dynamic">

                                    </td>

                                    <td class="col-action noselect">
                                        <div class="button-container">

                                        </div>

                                        <div class="row-actions">

                                        </div>
                                    </td>
                                </tr>

                                <tr class="row-item-sub">
                                    <td colspan="3" class="item-title">
                                        <a data-bind='text: groups[0].name'  class="link link-lightblue" href="#">
                                            <strong data-bind='text: groups[0].part_number' class="pn-number"></strong> <span class="ic-arrow"></span>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td colspan="3" data-bind='text: groups[0].alternative.value' >
                                    </td>
                                    <td>
                                        Qty: 4/EA
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            <!-- /ko -->

                            <!-- ko if: groups.length > 1 -->
                                <tr class="row-item">
                                    <td class="col-vendor">
                                        <strong data-bind='text: groups[0].seller'></strong>
                                    </td>

                                    <td class="col-rating">
                                        <div class="rating-container"> RATING </div>
                                    </td>

                                    <td class="col-condition" data-bind='text: groups[0].condition.name'>

                                    </td>

                                    <td class="col-tags">
                                        <div class="tags-container">
                                            <div data-bind='foreach: groups[0].tags'>
                                                <div data-bind='text: name'></div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="col-lead-time" data-bind='text: groups[0].lead_time.name'>

                                    </td>

                                    <td class="col-location">
                                        <div class="location-container" data-bind='text: groups[0].location.name'>

                                        </div>
                                    </td>

                                    <td class="col-deal-type" data-bind='text: groups[0].deal_type.value'>

                                    </td>

                                    <td class="col-unit-price">
                                        <strong class="price" data-bind='text: groups[0].formatted_price'>

                                        </strong>
                                    </td>

                                    <td class="col-dynamic">

                                    </td>

                                    <td class="col-action noselect">
                                        <div class="button-container">

                                        </div>

                                        <div class="row-actions">

                                        </div>
                                    </td>
                                </tr>

                                <tr class="row-item-sub">
                                    <td colspan="3" class="item-title">
                                        <a data-bind='text: groups[0].name'  class="link link-lightblue" href="#">
                                            <strong data-bind='text: groups[0].part_number' class="pn-number"></strong> <span class="ic-arrow"></span>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td colspan="3" data-bind='text: groups[0].alternative.value' >
                                    </td>
                                    <td>
                                        Qty: 4/EA
                                    </td>
                                    <td colspan="2"></td>
                                </tr>

                                <!-- ko foreach: groups -->
                                    <tr class="collapsible">
                                        <td colspan="3">
                                            <div class="col-inner">
                                                <a class="link link-lightblue" href="#" data-bind="text: 'PN '+part_number+' '+name">
                                                </a>
                                            </div>
                                        </td>
                                        <td class="col-tags">
                                            <div class="tags-container">
                                                <div data-bind='foreach: tags'>
                                                    <div data-bind='text: name'></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td colspan="3"></td>
                                        <td colspan="3">
                                            <div class="action-container noselect">
                                                <div class="row-actions">

                                                </div>
                                                <div class="button-container">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                  </td>
              </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <div class="pagination noselect">
        <ul>
            <li>
                <a href="#"><i class="ic-arrow-left"></i>Previous</a>
            </li>
            <!-- ko foreach: pageAmount -->
                <li>
                    <a href="#" data-bind="text: $data, afterRender: $parent.currentPage.bind($data)"></a>
                </li>
            <!-- /ko -->
            <li>
                <a href="#">Next<i class="ic-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</div>