<!-- ko foreach: filters -->
    <div class="search-filter expanded">
        <div class = "s-filter-header" data-bind="click:$parent.filterElemState.bind()">
            <div class = "s-filter-title" data-bind='text: name'></div>
            <span class="s-filter-action all hidden"> Show all </span>
        </div>
        <div class="s-filter-main">
            <div class="s-filter-content" data-bind='foreach: items'>
                <div class = "s-filter" data-bind="afterRender:$parents[1].filterToDisable.bind($data, disabled), click: $parents[1].filterCheck.bind()">
                    <div class = "checkbox">
                        <a href = "#">
                            <!-- ko if: checked -->
                                <span class="ic-checkbox checked" data-bind="attr:{id:$parent.tag + '_' + id + '_' + name, value:id}"></span>
                            <!-- /ko -->

                            <!-- ko if: !checked -->
                                <span class="ic-checkbox" data-bind= "attr:{id:$parent.tag + '_' + id, value:id}"></span>
                            <!-- /ko -->
                            <span class="label-checkbox" data-bind="text: name"></span>
                            <span class="s-filter-action only" data-bind="click:$parents[1].filterCheckOnly.bind()">Only</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /ko -->