.message.notice{
    display: none !important;
}

/*#maincontent {
    position: relative;
    min-height: 540px;
    width: 100% !important;
    max-width: 1920px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#search-results {
    width: auto;
    float: none;
    margin-left: 294px;
}*/

/*** Magento layout overriding ***/
.page-main {
    max-width: 100%!important;
    width: 100% !important;
}
.columns {
    padding: 0 40px 0 60px;
}
@media all and (max-width: 1199px){
    .columns {
        padding: 0 20px;
    }
}

/*** Page setup***/
.search-results-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1800px;
    padding-top: 60px;
}
.col-sidebar {
    min-width: 255px;
    margin-right: 40px;
    padding-top: 20px;
}


/*** Links styles - IT'S ALREADY ADDED TO A THEME - elements.less ***/
.link {
    transition: .35s color ease;
}
.link.link-lightblue {
    color: #529fb1;
}
.link.link-lightblue:hover,
.link.link-lightblue:active {
    color: #408494;
}
.link.link-darkblue {
    color: #153a54;
}
.link.link-darkblue:hover,
.link.link-darkblue:active {
    color: #18273e;
}
a.link {
    text-decoration: none;
}
a.link.link-lightblue:visited {
    color: #408494;
}
a.link.link-darkblue:visited {
    color: #18273e;
}
/* If element is not a <a> - to avoid overriding default cursor */
:not(a).link {
    cursor: pointer;
}
/*** END Links styles ***/



/*** Search results table ***/

/** Top bar **/
.top-bar {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

/** Sort widget on the right side**/
.top-bar .sort-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 2px;
}
.top-bar .sort-widget {
    position: relative;
}
.top-bar .sort-container .sort-label {
    margin-right: 9px;
}
.top-bar .sort-container .sort-selected {
    border: 2px solid #cecece;
    padding: 4px 25px 5px 10px;
    width: 182px;
    box-sizing: border-box;
    position: relative;
    display: block;
}
.top-bar .sort-container .sort-selected:after {
    content: '';
    position: absolute;
    background: url("../../images/arrows.png") no-repeat 0 -56px;
    width: 10px;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    right: 9px;
}
.top-bar .sort-container .sort-selected.disabled {
    color: #999;
    pointer-events: none;
}
.top-bar .sort-container .sort-selected.disabled + .sort-options {
    display: none;
}
.top-bar .sort-container .sort-selected.disabled:after {
    background: url("../../images/arrows.png") no-repeat 0 0;
}
.top-bar .sort-container .sort-options {
    position: absolute;
    top: 100%;
    left: 0;
    border: 2px solid #cecece;
    margin-top: -2px;
    border-top: 1px solid #9b9b9b;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
}
.top-bar .sort-container .sort-options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-bar .sort-container .sort-options ul li {
    margin: 0;
}
.top-bar .sort-container .sort-options ul li span {
    background: #fff;
    display: block;
    padding: 5px 10px 4px;
    cursor: pointer;
}
.top-bar .sort-container .sort-options ul li.sort-divider span {
    height: 1px;
    padding: 0;
    background: #9b9b9b;
    border: solid #fff;
    border-width: 8px 0;
}
.top-bar .sort-container .sort-options ul li.sort-divider + li span {
    padding-top: 3px;
}
.top-bar .sort-container .sort-options ul li.disabled span,
.top-bar .sort-container .sort-options ul li.disabled:hover span {
    color: #999;
    pointer-events: none;
    cursor: default;
}
.top-bar .sort-container .sort-options ul li.disabled:hover span {
    background: #fff;
}
.top-bar .sort-container .sort-options ul li:hover span {
    background: #153a54;
    color: #fff;
}
.top-bar .sort-container .sort-options ul li:first-child span {
    border-top: 5px solid #fff;
}
.top-bar .sort-container .sort-options ul li:last-child span {
    border-bottom: 7px solid #fff;
}

/** Table setup **/
.search-table-wrapper table {
    table-layout: fixed;
}
.search-table-wrapper table th {
    height: 45px;
    background: #153a54;
    color: #fff;
    font-weight: 700;
}
.search-table-wrapper table th,
.search-table-wrapper table td {
    vertical-align: middle;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .4px;
    max-width: 10%;
}
.search-table-wrapper table th:first-child,
.search-table-wrapper table td:first-child {
    padding-left: 20px;
}
.search-table-wrapper table th:last-child,
.search-table-wrapper table td:last-child {
    padding-right: 20px;
}
.search-table-wrapper table td {
    height: 66px;
}
.search-table-wrapper table tr.row-item-sub td {
    height: 64px;
}
.search-table-wrapper table tr.collapsible td {
    height: 77px;
}
.search-table-wrapper table tr.row-item-sub + tr.collapsible td {
    height: 70px;
}
.search-table-wrapper table td.no-padding {
    padding: 0!important;
}
.search-table-wrapper table tr th:not(:first-child),
.search-table-wrapper table tr td:not(:first-child) {
    text-align: center;
}
.search-table-wrapper > table > tbody > tr:nth-child(even) {
    background: #eee;
}
.search-table-wrapper > table > tbody > tr:nth-child(odd) {
    background: #fff;
}

/* Table row highlighting */
.search-table-wrapper table tr.accent,
.search-table-wrapper table tr.accent ~ tr {
    background: #d1d8dd;
}

/* Table 'dynamic' col */
.search-table-wrapper table .col-dynamic > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-table-wrapper table .col-dynamic .ic-col-add {
    background: url("../../images/ic-col-add.png") no-repeat;
    width: 16px;
    height: 21px;
    display: inline-block;
    cursor: pointer;
}
.search-table-wrapper table .col-dynamic .col-name-dyn {
    margin-left: 4px;
}

/* Dropdown menu in '.col-dynamic' */
.search-table-wrapper table th.col-dynamic .ic-col-add {
    position: relative;
}
.search-table-wrapper table th.col-dynamic .ic-col-add .dd-menu {
    position: absolute;
    top: 100%;
    right: -24px;
    z-index: 2;
    margin-top: 9px;
}
.search-table-wrapper .dd-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 178px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.search-table-wrapper .dd-menu li {
    text-align: left;
    margin: 0;
}
.search-table-wrapper .dd-menu li a {
    background: #fff;
    display: block;
    padding: 8px 19px;
    border: solid #fff;
    border-width: 1.5px 0;
    color: #333;
    font-weight: 400;
}
.search-table-wrapper .dd-menu li:first-child a {
    border-top: 3px solid #fff;
}
.search-table-wrapper .dd-menu li:last-child a {
    border-bottom: 3px solid #fff;
}
.search-table-wrapper .dd-menu li a:hover {
    background: #153a54;
    color: #fff!important;
}
.search-table-wrapper .dd-menu li.selected a {
    color: #153a54;
    font-weight: 700;
}
.search-table-wrapper .dd-menu:after {
    content: '';
    position: absolute;
    left: auto;
    border-style: solid;
    right: 21px;
    top: -6px;
    border-width: 0 10px 7px 10px;
    border-color: transparent transparent #fff transparent;
}
.search-table-wrapper table th.col-action {
    border-left: 2px solid #fff;
}
.search-table-wrapper table .col-action {
    width: 185px;
}
.search-table-wrapper table .col-unit-price {
    width: 166px;
}
/* .dyn-col-active - uses when '.col-dynamic' cell has value - 'Removal tag', 'Manufacture Date'... */
.search-table-wrapper table.dyn-col-active .col-dynamic {
    width: 185px;
}
.search-table-wrapper table tr.collapsible td:first-child {
    padding-left: 38px;
}
/* Dotted border for '.row-item' row */
.search-table-wrapper table .row-item td:not(:last-child) {
    background: url("../../images/border-dotted.png") repeat-x left bottom;
}
.search-table-wrapper table .row-item td:first-child {
    position: relative;
}
.search-table-wrapper table .row-item td:first-child::after {
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: transparent;
    left: 0;
    bottom: 0;
    content: '';
}
.search-table-wrapper > table > tbody > tr:nth-child(even) .row-item td:first-child::after {
    background: #eee;
}
.search-table-wrapper > table > tbody > tr:nth-child(odd) .row-item td:first-child::after {
    background: #fff;
}
.search-table-wrapper .row-item.accent td:first-child::after {
    background: #d1d8dd!important;
}
/* Border for .collapsible row */
.search-table-wrapper table tr.collapsible td {
    background-image: -webkit-linear-gradient(transparent 0%, #e1e1e1 1%);
    background-image: linear-gradient(transparent 0%, #e1e1e1 1%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 100%;
}
.search-table-wrapper table tr.collapsible:last-child td {
    background: none;
}
.search-table-wrapper table tr.collapsible td:first-child,
.search-table-wrapper table tr.collapsible td:last-child {
    position: relative;
}
.search-table-wrapper table tr.collapsible td:first-child:after,
.search-table-wrapper table tr.collapsible td:last-child:after {
    position: absolute;
    height: 100%;
    background-color: transparent;
    bottom: 0;
    content: '';
}
.search-table-wrapper table tr.collapsible td:first-child:after {
    left: 0;
    width: 38px;
}
.search-table-wrapper table tr.collapsible td:last-child:after {
    right: 0;
    width: 20px;
}
.search-table-wrapper > table > tbody > tr:nth-child(even) tr.collapsible td:first-child:after,
.search-table-wrapper > table > tbody > tr:nth-child(even) tr.collapsible td:last-child:after {
    background: #eee;
}
.search-table-wrapper > table > tbody > tr:nth-child(odd) tr.collapsible td:first-child:after,
.search-table-wrapper > table > tbody > tr:nth-child(odd) tr.collapsible td:last-child:after {
    background: #fff;
}
.search-table-wrapper .row-item.accent ~ tr.collapsible td:first-child:after,
.search-table-wrapper .row-item.accent ~ tr.collapsible td:last-child:after {
    background: #d1d8dd!important;
}

.hidden {
    display: none !important;
}


/** 'Widgets' overriding **/

/* Rating */
.rating-container {
    display: inline-block;
}
/* Tags */
.tags-container {
    width: 98px;
    margin: 0 auto;
}
td.col-tags {
    text-align: left!important;
}
.tags-container .tag {
    text-align: center;
}
.tags-container .tag:only-child {
    display: flex;
    justify-content: center;
}
/* Location */
.location-container {
    display: inline-block;
}
/* Buttons */
.btn-action {
    display: inline-block;
}
.btn-action .eplane-rounded-btn {
    border-radius: 8px 0 8px 0;
}
/* Buttons large - .lg */
.btn-action.lg {
    min-width: 145px;
    height: 40px;
    font-size: 16px;
}
.btn-action.lg .eplane-rounded-btn .btn-content {
    padding: 0 12px;
}
/* Buttons small - .sm */
.btn-action.sm {
    min-width: 112px;
    height: 34px;
    font-size: 14px;
}
.btn-action.sm .eplane-rounded-btn .btn-content {
    padding: 0 6px;
}
/* Buttons 'ready' - yellow */
.btn-action .addtocart-btn.ready .btn-content {
    text-transform: uppercase;
}

/* Contact link */
.contact-link .ic-contact {
    background: url("../../images/ic-msg.png") no-repeat;
    width: 21px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
/* Checkbox */
.checkbox label {
    padding: 0;
    cursor: pointer;
}
.checkbox.disabled label {
    cursor: default;
}
.checkbox input {
    display: none;
}
.checkbox .ic-checkbox {
    background: url(../../images/checkbox.png) left top no-repeat;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: left center;
    margin-right: 0;
    margin-left: 9px;
    top: 2px;
}
.checkbox .ic-checkbox.checked {
    background-position: right center;
}
.checkbox .ic-checkbox.inprogress,
.checkbox .ic-checkbox.disabled {
    background-position: center;
}
.checkbox .ic-checkbox.inprogress + .label-checkbox,
.checkbox .ic-checkbox.disabled + .label-checkbox {
    opacity: 0.4;
    cursor: default;
}
.checkbox .label-checkbox {
    position: relative;
    top: -2px;
    left: 1px;
    color: #153a54;
    font-weight: 700;
}

/** Cell with button, checkbox and link **/
.contact-link,
.checkbox {
    display: inline-block;
}
/* .lg */
.row-actions {
    margin-top: 8px;
}
.contact-link:only-child {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 15px;
    top: 4px;
}

/* Best Price cell - color highlight */
.val.best-price {
    display: inline-block;
    background: #d6f0e3;
    padding: 9px 32px 9px;
}

/* Best Lead Time cell - color highlight */
.lead-time.best-lead-time {
    display: inline-block;
    background: #cdeff7;
    padding: 8px 26px 9px;
}

/* Empty cell placeholder */
.val-empty {
    color: #999;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

/* Uppercase 'deal-type' value */
td.col-deal-type {
    text-transform: uppercase;
}

/** Item title link in sub-row **/

/* Make 'PN number' in sub-row - bold */
.item-title .pn-number {
    font-weight: 900;
}

.item-title .ic-arrow {
    display: inline-block;
    background: url("../../images/arrows.png") no-repeat;
    margin-left: 6px;
    vertical-align: middle;
}

/* Change icon on expand/collapse row - .collapsed / .expanded */
.collapsed .item-title .ic-arrow {
    background-position: 0 -16px;
    width: 6px;
    height: 10px;
}
.expanded .item-title .ic-arrow {
    background-position: 0 0;
    width: 10px;
    height: 6px;
}
.collapsed .item-title a:hover .ic-arrow {
    background-position: 0 -72px;
}
.expanded .item-title a:hover .ic-arrow {
    background-position: 0 -56px;
}

/** Class .noselect  - uses to make some un-selectable (makes select transparent) **/
.noselect ::selection,
.noselect::selection {
    background: transparent;
}

/** Small buttons in '.collapsible' rows, checkboxes, etc.. **/
.collapsible .action-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.collapsible .row-actions {
    margin-right: 39px;
    font-size: 14px;
    position: relative;
    top: -6px;
}
.collapsible .row-actions:only-child {
    margin-right: 0;
}

/*** Pagination ***/
.pagination {
    margin-top: 39px;
    display: flex;
    justify-content: flex-end;
}
.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination ul li {
    display: inline-block;
    padding: 0 2.5px;
    font-size: 16px;
}
.pagination ul li a {
    color: #529fb1;
    transition: .35s color ease;
}
.pagination ul li a:hover,
.pagination ul li a:active {
    color: #408494;
}
.pagination ul li.active a {
    color: #153a54;
}
.pagination ul li.active a:hover,
.pagination ul li.active a:active {
    color: #18273e;
}
.pagination ul li a .ic-arrow-left,
.pagination ul li a .ic-arrow-right {
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("../../images/arrows.png") no-repeat;
}
.pagination ul li a .ic-arrow-left {
    background-position: 0 -112px;
    margin-right: 5px;
}
.pagination ul li a .ic-arrow-right {
    background-position: 0 -92px;
    margin-left: 5px;
}
.pagination ul li.disabled a {
    color: #999;
    pointer-events: none;
    cursor: default;
}
.pagination ul li.disabled a .ic-arrow-left {
    background-position: 0 -36px;
}
.pagination ul li.disabled a .ic-arrow-right {
    background-position: 0 -16px;
}

/*** Message - 'Can’t find what you’re looking for? Please refine your search.' ***/
.research-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 18px;
    color: #666;
}
.research-msg .ic-magnifier {
    display: inline-block;
    background: url("../../images/ic-magnifier.png") no-repeat;
    width: 42px;
    height: 45px;
    margin-right: 10px;
}



/*** Search filters ***/
.search-filter {
    border-bottom: 2px solid #e1e1e1;
}
.search-filter .s-filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    min-height: 50px;
}
.search-filter .s-filter-header .s-filter-title {
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}
.search-filter .s-filter-header .s-filter-title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: url("../../images/arrows.png") no-repeat;
}
.search-filter.collapsed .s-filter-header .s-filter-title:before {
    background-position: 0 -16px;
    width: 6px;
    height: 10px;
    margin-top: -5px;
}
.search-filter.expanded .s-filter-header .s-filter-title:before {
    background-position: 0 0;
    width: 10px;
    height: 6px;
    margin-top: -3px;
}
.search-filter .s-filter-header .s-filter-action.all {
    color: #529fb1;
    transition: .35s color ease;
    cursor: pointer;
    display: inline-block;
}
.search-filter .s-filter-header .s-filter-action.all:hover,
.search-filter .s-filter-header .s-filter-action.all:active {
    color: #408494;
}
.search-filter.collapsed .s-filter-main {
    display: none;
}
.search-filter.expanded .s-filter-main {
    margin-top: -6px;
}
.search-filter .s-filter-content {
    padding-left: 15px;
    margin-bottom: 14px;
}
.search-filter .s-filter-content .s-filter {
    font-size: 16px;
    padding: 3px 9px 4px 5px;
}
.search-filter .s-filter-content .s-filter .checkbox {
    width: 99%;
    position: relative;
}
.search-filter .s-filter-content .s-filter .checkbox a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-filter .s-filter-content .s-filter .checkbox .ic-checkbox {
    margin-left: 0;
    margin-right: 5px;
}
.search-filter .s-filter-content .s-filter .checkbox .label-checkbox {
    color: #333;
    font-weight: 400;
    top: -1px;
    left: auto;
}
.search-filter .s-filter-content .s-filter .s-filter-action.only {
    display: none;
    font-size: 14px;
    cursor: pointer;
    top: 6px;
    right: 0;
    max-width: 30px;
    position: absolute;
}
.search-filter .s-filter-content .s-filter:hover {
    background: #153a54;
}
.search-filter .s-filter-content .s-filter:hover .s-filter-action.only {
    display: block;
    color: #fff;
}
.search-filter .s-filter-content .s-filter:hover a {
    width: calc(99% - 40px);
    color: #fff;
}
.search-filter .s-filter-content .s-filter:hover .label-checkbox {
    color: #fff;
}
.search-filter .s-filter-bottom {
    background: #eee;
    font-size: 12px;
    padding: 5px 20px;
    margin-top: -9px;
    margin-bottom: 6px;
}
.search-filter .s-filter-bottom p {
    line-height: 1.2;
    margin-bottom: 0;
    color: #000;
}
.search-filter .s-filter-content .s-filter.disabled {
    background: #fff!important;
}
.search-filter .s-filter-content .s-filter.disabled a {
    color: #999;
    width: 99%;
    pointer-events: none;
    cursor: default;
}
.search-filter .s-filter-content .s-filter.disabled .label-checkbox {
    color: #999;
    opacity: 1;
}
.search-filter .s-filter-content .s-filter.disabled .s-filter-action.only {
    display: none!important;
}

/*** Slider ***/
.search-filter .s-filter-content .s-filter.ui-item {
    position: relative;
    left: -8px;
    margin: 14px 0 22px;
    background: #fff!important;
    padding: 0;
}
.search-filter .s-filter-content .s-filter.ui-item:hover a {
    width: auto;
}
.search-filter .s-filter-content .s-filter .custom-range-container .ui-widget-content {
    border: none;
    border-radius: 0;
    background: #e4e4e4;
    height: 4px;
}
.search-filter .s-filter-content .s-filter .custom-range-container .ui-widget-header {
    background: #f3ba63;
    border: none;
}
.search-filter .s-filter-content .s-filter .custom-range-container .custom-range .ui-slider-handle {
    background: #f0efef;
    border: 1px solid #c4cbcd;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    top: 50%;
    margin-top: -10.5px;
    box-sizing: border-box;
}
.search-filter .s-filter-content .s-filter .custom-range-values {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-filter .s-filter-content .s-filter .custom-range-values .val {
    font-size: 16px;
    color: #333;
    position: relative;
}
.search-filter .s-filter-content .s-filter .custom-range-values .val.min {
    margin-right: auto;
    left: -5px;
}
.search-filter .s-filter-content .s-filter .custom-range-values .val.max {
    margin-left: auto;
    right: -5px;
}

/*** 'Add-remove' widget ***/
.search-filter .add-remove-widget-container {
    position: relative;
    max-width: 170px;
    margin: 0 auto;
}
.search-filter .add-remove-widget-container .items-number {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.search-filter .add-remove-widget-container .btn  {
    background: url("../../images/add-remove-btns.png") no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.search-filter .add-remove-widget-container .btn.add  {
    background-position: 0 0;
    right: 0;
}
.search-filter .add-remove-widget-container .btn.remove  {
    background-position: -56px 0;
    left: 0;
}
.search-filter .add-remove-widget-container .btn.add.disabled  {
    background-position: -28px 0;
}
.search-filter .add-remove-widget-container .btn.remove.disabled  {
    background-position: -84px 0;
}


@media all and (max-width: 1599px) {

    .col-sidebar {
        min-width: 171px;
        margin-right: 14px;
    }

    /** Top bar **/
    .top-bar {
        font-size: 14px;
    }

    /** Table setup **/
    .search-table-wrapper table th,
    .search-table-wrapper table td {
        font-size: 12px;
        height: 42px;
    }

    .search-table-wrapper table td {
        height: 66px;
    }
    .search-table-wrapper table tr.row-item-sub td {
        height: 47px;
    }
    .search-table-wrapper table tr.collapsible td .col-inner {
        height: 62px;
    }
    .search-table-wrapper table tr.row-item-sub + tr.collapsible td .col-inner {
        height: 60px;
    }

    .top-bar .sort-container .sort-selected {
        width: 172px;
    }

    .search-table-wrapper table .col-dynamic .ic-col-add {
        background: url("../../images/ic-col-add-sm.png") no-repeat;
        width: 13px;
        height: 16px;
    }

    .search-table-wrapper .dd-menu {
        width: 168px;
    }
    .search-table-wrapper .dd-menu li a {
        font-size: 14px;
    }

    .search-table-wrapper table .col-action {
        width: 135px;
    }
    .search-table-wrapper table .col-unit-price {
        width: 98px;
    }
    /* .dyn-col-active - uses when '.col-dynamic' cell has value - 'Removal tag', 'Manufacture Date'... */
    .search-table-wrapper table.dyn-col-active .col-dynamic {
        width: 130px;
        text-align: left;
    }
    .search-table-wrapper table .col-dynamic .col-name-dyn {
        margin-left: 8px;
    }
    .search-table-wrapper table .row-item td:first-child::after {
        width: 10px;
    }
    .search-table-wrapper table tr.collapsible td:first-child:after {
        width: 30px;
    }
    .search-table-wrapper table tr.collapsible td:last-child:after {
        width: 10px;
    }

    /* Tags */
    .tags-container {
        width: 66px;
    }

    /* Buttons large - .lg */
    .btn-action.lg,
    .btn-action.sm {
        font-size: 14px;
    }
    .btn-action.lg {
        min-width: 125px;
        height: 36px;
    }
    .btn-action.sm {
        min-width: 92px;
        height: 28px;
    }

    .checkbox .ic-checkbox {
        background: url(../../images/checkbox-sm.png) left top no-repeat;
        width: 18px;
        height: 18px;
    }

    .collapsible .row-actions {
        font-size: 13px;
    }

    .pagination ul li {
        font-size: 12px;
    }

    .research-msg {
        font-size: 16px;
    }
    .research-msg .ic-magnifier {
        background: url("../../images/ic-magnifier-sm.png") no-repeat;
        width: 33px;
        height: 36px;
    }

    .search-filter .s-filter-header {
        font-size: 12px;
    }
    .search-filter .s-filter-content .s-filter {
        font-size: 12px;
    }
    .search-filter .s-filter-header .s-filter-title {
        width: 50%;
    }
    .search-filter .s-filter-content {
        padding-left: 0;
    }
    .search-filter .s-filter-content .s-filter:hover a {
        width: calc(99% - 30px);
    }
    .search-filter .s-filter-content .s-filter .s-filter-action.only {
        font-size: 10px;
        max-width: 25px;
    }
    .search-filter .s-filter-bottom {
        font-size: 11px;
    }

    .search-filter .s-filter-content .s-filter .custom-range-values .val {
        font-size: 12px;
    }
    .search-filter .add-remove-widget-container {
        max-width: 139px;
    }
    .search-filter .add-remove-widget-container .items-number {
        font-size: 12px;
    }
    .search-filter .add-remove-widget-container .btn  {
        background: url("../../images/add-remove-btns-sm.png") no-repeat;
        margin-top: -11px;
        width: 22px;
        height: 22px;
    }
    .search-filter .add-remove-widget-container .btn.add  {
        background-position: 0 0;
        right: 0;
    }
    .search-filter .add-remove-widget-container .btn.remove  {
        background-position: -44px 0;
        left: 0;
    }
    .search-filter .add-remove-widget-container .btn.add.disabled  {
        background-position: -22px 0;
    }
    .search-filter .add-remove-widget-container .btn.remove.disabled  {
        background-position: -66px 0;
    }
}
